/*прогресс бар загрузки файлов*/
.bar {
    height: 18px;
    background: green;
}

/**
 * редактирование стоимоости товаров НАЧАЛО
 */
#price-product-table .show-on-edit {
    display: none;
}

#price-product-table .tr-edit .show-on-edit {
    display: block;
}

#price-product-table .tr-edit .hide-on-edit {
    display: none;
}

/**
 * редактирование стоимоости товаров КОНЕЦ
 */

/**
 * интреактивное фото НАЧАЛО
 */

.interactive-owner{
    position: relative;
    display: block;
}

.interactive-owner img{
    width: 100%;
    height: 100%;
}
.interactive-owner .point{
    position: absolute;
    width: 20px;
    height: 20px;
}

/**
 * интреактивное фото КОНЕЦ
 */