@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('/fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('/fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/helveticaneuecyr-medium-webfont.woff') format('woff'), url('/fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('/fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('/fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/helveticaneuecyr-thin-webfont.woff') format('woff'), url('/fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('/fonts/helveticaneuecyr-light-webfont.eot');
    src: url('/fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('/fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'helveticaneuecyrlight';
}
.hidden {
    display: none !important;
}
.logo {
    display: block;
    float: left;
    width: 85px;
    height: 49px;
    margin: 17px 40px 0 0;
    background: url('/i/sprite.png') 0 0 no-repeat;
}
.dealer {
    display: block;
    float: left;
    margin-top: 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'helveticaneuecyrmedium';
}
.b-top-bar {
    float: right;
    margin-top: 30px;
    font-size: 1.6rem;
    font-family: 'helveticaneuecyrmedium';
}
.b-top-bar a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.b-top-bar a:hover {
    color: #967b6a;
}
.b-top-bar .menu {
    padding-right: 30px;
    margin-left: 50px;
}
.b-top-bar .menu:after {
    content: "";
    display: block;
    width: 17px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    background: url('/i/sprite.png') -86px 0 no-repeat;
}
.b-top-bar .menu:hover:after {
    background-position: -86px -18px;
}
.menu-visible:before {
    display: block !important;
}
.menu-visible .b-panel-r__wrap {
    right: 0;
    top: 80px;
}
.b-panel-r:before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
}
.b-panel-r__wrap {
    width: 75%;
    position: absolute;
    z-index: 5000;
    right: -75%;
    top: 80px;
    bottom: 0;
    background-color: #000;
}
.b-panel-r .contacts {
    font-size: 1.8rem;
    font-family: georgia;
    text-align: center;
    color: #fff;
}
.b-menu-right {
    margin-bottom: 90px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'helveticaneuecyrmedium';
}
.b-menu-right li a {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
}
.b-menu-right li a:hover {
    color: #967b6a;
}
.b-menu-right li:last-child {
    padding-top: 100px;
}
.b-menu-right li ul {
    margin-bottom: 18px;
    padding-top: 15px;
}
.b-menu-right li ul li {
    padding-top: 0 !important;
    font-family: georgia;
    font-style: italic;
    text-transform: none;
}
.b-menu-right li ul li a {
    margin-bottom: 12px;
}
.b-slider {
    position: relative;
    font-family: 'helveticaneuecyrthin';
}
.b-carusel {
    overflow: hidden;
    position: relative;
    padding: 200px 0 100px 0;
    user-select: none;
}
.b-carusel .title {
    margin: 0 90px 110px;
    font-family: 'helveticaneuecyrthin';
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}
.b-carusel .gallery {
    display: block;
    position: absolute;
    left: 0 !important;
    width: 100% !important;
}
.b-carusel li {
    width: 260px;
    min-height: 320px;
    height: auto !important;
    margin: 0 230px 0 -130px;
    text-align: center;
}
.b-carusel li .image {
    height: 200px;
    margin-bottom: 30px;
}
.b-carusel li img {
    max-height: 100%;
    max-width: 100%;
}
.b-carusel li .descr {
    visibility: hidden;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.b-carusel li .descr span {
    display: block;
    margin-bottom: 8px;
    color: #967b6a;
}
.b-carusel li:hover .descr {
    visibility: visible;
}
.b-carusel .nav {
    position: absolute;
    right: 90px;
    bottom: 30px;
}
.b-carusel .nav button {
    background: none;
    border: none;
    display: inline-block;
    margin-left: 25px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    width: 22px;
    height: 44px;
}
.b-carusel .nav button:before {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 30px;
    height: 30px;
    border: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.b-carusel .nav button.next:before {
    left: auto;
    right: 6px;
}
.b-services {
    overflow: hidden;
}
.b-services__items {
    overflow: hidden;
    position: relative;
}
.b-services__item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    width: 34%;
    padding-bottom: 100px;
    margin: 0 auto -100px;
    border-left: #fff 1px solid;
    background-color: #262222;
    text-transform: uppercase;
}
.b-services__item:first-child {
    float: left;
    margin-right: -1%;
    border-left: 0;
}
.b-services__item:last-child {
    position: absolute;
    right: 0;
    top: 0;
}
.b-services__item__wrap {
    width: 300px;
    padding: 50px 0 50px 90px;
    display: block;
    text-decoration: none;
}
.b-services__item__wrap:after {
    content: "";
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 95px;
    margin-top: -10px;
    border-top: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.b-services__item__title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #967b6a;
}
.b-services__item__descr {
    max-width: 280px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #fff;
}
.b-services__image {
    width: 100%;
    display: block;
    border-bottom: #fff 1px solid;
}
.b-gessi {
    border-bottom: #fff 1px solid;
    background-color: #262222;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.b-gessi__image {
    width: 45%;
    float: left;
    border-right: #fff 1px solid;
}
.b-gessi__wrap {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding: 50px 0 0 85px;
}
.b-gessi__wrap:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 98px;
    bottom: 35px;
    border-top: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.b-gessi__title {
    max-width: 450px;
    margin-bottom: 15px;
    font-family: 'helveticaneuecyrthin';
    color: #967b6a;
    font-size: 6rem;
    line-height: 1;
}
.b-gessi__descr {
    width: 480px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #fff;
}
.b-about {
    max-height: 400px;
    border-bottom: #fff 1px solid;
    background-color: #262222;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.b-about__image {
    width: 45%;
    float: right;
    border-right: #fff 1px solid;
}
.b-about__wrap {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    padding: 50px 0 0 90px;
}
.b-about__wrap:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 45%;
    margin-right: 90px;
    bottom: 35px;
    border-top: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.b-about__title {
    max-width: 450px;
    margin-bottom: 15px;
    font-family: 'helveticaneuecyrthin';
    color: #967b6a;
    font-size: 6rem;
    line-height: 1;
}
.b-about__descr {
    margin-right: 50px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #fff;
}
.b-about__reg {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 400px 30px 90px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'helveticaneuecyrmedium';
    font-size: 1.6rem;
    color: #fff;
}
.b-about__reg__link {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    position: absolute;
    right: 90px;
    top: 50%;
    margin-top: -23px;
    padding: 10px;
    border: #fff 2px solid;
    color: #fff;
    text-decoration: none;
}
.b-about__reg__link:hover {
    background-color: #fff;
    color: #000;
}
.app-index .b-panel-r {
    right: 0;
}
.app-index #slideshowWrapper {
    padding: 0;
    margin-bottom: -4px;
}
.app-index #slideshowWrapper .tst {
    width: 100%;
    height: auto;
    visibility: hidden;
}
.app-index #slideshowWrapper #fssList {
    left: 90px;
    bottom: 40px;
}
.app-index #slideshowWrapper #fssList li a:before {
    background-color: #fff;
}
.app-index #slideshowWrapper #fssList li.fssActive a {
    border-color: #fff;
}
.app-index ul#slideshow {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}
.app-index ul#slideshow li {
    width: 100%;
    height: auto !important;
}
.app-index ul#slideshow li img {
    width: 100%;
}
.app-index ul#slideshow li .descr {
    position: absolute;
    left: 90px;
    top: 30%;
    font-family: 'helveticaneuecyrthin';
    font-size: 7.2rem;
    line-height: 7.2rem;
    color: #000;
    text-align: left;
}
.app-product .b-carusel {
    padding-top: 50px;
}
.app-product .b-services__item__wrap {
    padding-top: 50px;
}
.app-product .b-navigation {
    overflow: hidden;
    padding: 25px 90px 0;
    margin-bottom: 30px;
}
.app-product .b-navigation a {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    float: right;
}
@media screen and (max-width: 1130px) {
    .app-product .b-navigation a {
        width: 200px;
    }
}
.app-product .b-navigation a.back {
    float: left;
}
.app-product .b-navigation a.prev {
    margin-right: 50px;
}
.app-product .b-navigation a.next {
    text-align: right;
}
.app-product .b-navigation a span {
    display: block;
    color: #967b6a;
}
.app-product .b-product {
    padding: 0 90px;
    margin-bottom: 90px;
    text-transform: uppercase;
}
.app-product .b-product .b-product__description {
    width: 65%;
    float: left;
    margin-bottom: 35px;
}
.app-product .b-product .b-product__name {
    font-size: 3.6rem;
    line-height: 6rem;
    font-family: 'helveticaneuecyrthin';
}
.app-product .b-product .b-product__name span {
    font-size: 6rem;
}
.app-product .b-product .b-product__article {
    margin-bottom: 10px;
    color: #967b6a;
    font-size: 6rem;
    line-height: 6rem;
    font-family: 'helveticaneuecyrthin';
}
.app-product .b-product .b-product__size,
.app-product .b-product .b-product__color {
    line-height: 3.6rem;
    font-size: 1.4rem;
}
.app-product .b-product .b-product__size label,
.app-product .b-product .b-product__color label {
    display: inline-block;
    width: 110px;
}
.app-product .b-product .b-product__size span,
.app-product .b-product .b-product__color span {
    color: #967b6a;
    display: inline-block;
    line-height: 30px;
    margin-top: 3px;
    vertical-align: top;
}
.app-product .b-product .b-product__size span img,
.app-product .b-product .b-product__color span img {
    vertical-align: middle;
    margin-right: 10px;
}
.app-product .b-product .b-product__price {
    width: 35%;
    margin-bottom: 35px;
    float: right;
    text-align: right;
    padding-top: 20px;
    line-height: 3.6rem;
    font-size: 3.6rem;
    font-family: 'helveticaneuecyrthin';
}
.app-product .b-product .b-product__price .new {
    font-size: 6rem;
    line-height: 6.8rem;
    white-space: nowrap;
    font-family: 'helveticaneuecyrlight';
}
.app-product .b-product .b-product__price .old {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: line-through;
    color: #967b6a;
}
.app-product .b-product .b-links {
    line-height: 1;
    margin-bottom: 50px;
    clear: both;
}
.app-product .b-product .b-links a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
    border: #52443b 2px solid;
    color: #52443b;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.app-product .b-product .b-links a:hover {
    background-color: #52443b;
    color: #fff !important;
}
.app-product .b-product .b-links a:nth-child(1) {
    width: 18%;
    min-width: 160px;
    float: right;
    margin-right: 0;
}
.app-product .b-product .b-links a:nth-child(2) {
    width: 14%;
    min-width: 126px;
}
.app-product .b-product .b-links a:nth-child(3) {
    width: 24%;
    min-width: 210px;
}
.app-product .b-product .b-links a:nth-child(4) {
    width: 24%;
    min-width: 210px;
}
.app-product .b-product .b-links a.spec {
    border-color: #967b6a;
    white-space: nowrap;
    color: #967b6a;
}
.app-product .b-product .b-links a.spec:hover {
    background-color: #967b6a !important;
}
.app-product .nivoSlider {
    margin-bottom: 50px;
    height: 460px;
}
.app-product .nivoSlider img {
    max-height: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: auto!important;
}
.app-product .nivo-slice {
    display: none;
}
.app-product .nivo-controlNav {
    right: 30px;
    left: auto;
    bottom: -50px;
    overflow: hidden;
}
.app-product .nivo-controlNav a:before {
    background-color: #967b6a;
}
.app-product .nivo-controlNav .active {
    border-color: #967b6a;
}
.app-product .b-components {
    margin: 0 90px 90px;
    border-top: #000 1px solid;
    padding-top: 45px;
}
.app-product .b-components .title {
    font-size: 6rem;
    margin-bottom: 90px;
    line-height: 5rem;
    font-family: 'helveticaneuecyrthin';
}
.app-product .b-components ul {
    text-align: justify;
}
.app-product .b-components ul:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0;
}
.app-product .b-components li {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
}
.app-product .b-components li img {
    max-width: 40%;
    display: inline-block;
    vertical-align: middle;
}
.app-product .b-components li .descr {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 59%;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.app-product .b-components li .descr a {
    text-decoration: none;
    color: #000;
}
.app-product .b-components li .descr a:hover {
    color: #967b6a;
}
.app-product .b-components li .descr span {
    display: block;
    margin-top: 5px;
    color: #967b6a;
}
.app-product .b-producer {
    overflow: hidden;
    position: relative;
    border-bottom: #fff 1px solid;
}
.app-product .b-producer__wrap {
    background-color: #262222;
    border-bottom: #fff 1px solid;
    overflow: hidden;
}
.app-product .b-producer__image {
    overflow: hidden;
    float: left;
    width: 33%;
    max-height: 100%;
    border-right: #fff 1px solid;
}
.app-product .b-producer__image img {
    float: none;
    display: block;
    height: 100%;
}
.app-product .b-producer .img {
    float: left;
    width: 33%;
    border-right: #fff 1px solid;
}
.app-product .b-producer .img:last-child {
    width: 34%;
    position: absolute;
    left: 66%;
    border-left: #fff 1px solid;
}
.app-product .b-producer__descr {
    overflow: hidden;
    padding: 50px 90px 20px;
    color: #fff;
}
.app-product .b-producer__descr .title {
    font-size: 6rem;
    text-transform: uppercase;
    color: #967b6a;
}
.app-product .b-producer__descr p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
}
.app-product .slider #slideshow {
    margin-bottom: 40px !important;
    width: 100% !important;
}
.app-product .slider #slideshow li {
    background-color: #fff;
}
.app-product .slider #slideshow img {
    height: 100%;
}
.app-product .slider #fssList {
    width: 400px;
    margin: 0 auto 40px;
    position: relative;
    text-align: center;
}
.app-rzd .b-rzd__title {
    margin-bottom: 10px;
    position: relative;
}
.app-rzd .b-rzd__title img {
    width: 100%;
}
.app-rzd .b-rzd__title div {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.app-rzd .b-rzd__title div span {
    display: block;
    font-size: 3.6rem;
}
.app-rzd .b-rzd__menu {
    position: relative;
    background-color: #fff;
    z-index: 10;
    border-bottom: #000 1px solid;
    font-size: 1.4rem;
    text-align: center;
}
.app-rzd .b-rzd__menu div {
    width: 100%;
    height: 125px;
}
.app-rzd .b-rzd__menu .b-carusel .gallery {
    height: auto !important;
}
.app-rzd .b-rzd__menu .b-carusel .gallery ul {
    overflow: hidden;
}
.app-rzd .b-rzd__menu .b-carusel .gallery a,
.app-rzd .b-rzd__menu .b-carusel .gallery span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #52443b;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: georgia;
    text-transform: none;
    font-style: italic;
    text-align: center;
    padding: 20px 30px 70px;
}
.app-rzd .b-rzd__menu .b-carusel .gallery a:hover,
.app-rzd .b-rzd__menu .b-carusel .gallery span:hover {
    color: #967b6a;
}
.app-rzd .b-rzd__menu .b-carusel .nav {
    right: 0 !important;
    bottom: 0 !important;
    position: relative !important;
}
.app-rzd .b-rzd__menu .b-carusel .nav button {
    margin: 0 !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: none !important;
    vertical-align: middle;
    position: relative;
    margin-right: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -1000px;
    cursor: pointer;
}
.app-rzd .b-rzd__menu .b-carusel .nav button:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #967b6a;
    border: none;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
.app-rzd .b-rzd__menu .b-carusel .nav button.hover {
    border: #967b6a 1px solid;
}
.app-rzd .b-rzd__menu li.parent {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    color: #967b6a;
    text-transform: uppercase;
    margin-bottom: -1px;
}
.app-rzd .b-rzd__menu li.parent a.parent-link {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    padding: 20px 30px 30px;
    margin-bottom: -2px;
    color: #52443b;
    font-size: 1.4rem;
    text-decoration: none;
}
.app-rzd .b-rzd__menu li.parent a.parent-link:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 2.5px 0 2.5px;
    border-color: #52443b transparent transparent transparent;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.app-rzd .b-rzd__menu li.parent:hover {
    box-shadow: inset -1px 0 0 #967b6a, inset 1px 0 0 #967b6a;
    background-color: #fff;
}
.app-rzd .b-rzd__menu li.parent:hover ul.child-items,
.app-rzd .b-rzd__menu li.parent:hover .nav {
    display: block;
}
.app-rzd .b-rzd__menu li.parent ul.child-items {
    background-color: #fff;
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    left: 0;
    width: 100%;
    border-bottom: #000 1px solid;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 19%;
    color: #967b6a;
    text-transform: uppercase;
    margin-bottom: -1px;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item img {
    max-width: 100%;
    max-height: 125px;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item a,
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item span {
    color: #52443b;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: georgia;
    text-transform: none;
    font-style: italic;
    text-align: center;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item a:hover,
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item span:hover {
    color: #967b6a;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item a.child-link,
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item span.child-link {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    margin-bottom: -2px;
    padding: 20px 30px 70px;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item:hover span.child-link {
    background-color: #fff;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item:hover ul {
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item:hover span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item ul {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    left: 0;
    width: 100%;
    border-bottom: #000 1px solid;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    font-size: 1.4rem;
    width: 19%;
    text-transform: uppercase;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item li a,
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item li span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    padding: 20px 30px 70px;
}
.app-rzd .b-rzd__menu li.parent ul.child-items li.child-item li:hover {
    box-shadow: none ;
    background-color: #fff;
    color: #967b6a;
}
.app-rzd .b-rzd__menu li.parent .nav {
    display: none;
    position: absolute;
    width: auto;
    text-align: center;
    left: 50%;
    margin-left: -17px;
    margin-top: 200px;
    height: 15px;
}
.app-rzd .b-rzd__menu li.parent .nav span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: none !important;
    vertical-align: middle;
    position: relative;
    margin-right: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -1000px;
    cursor: pointer;
}
.app-rzd .b-rzd__menu li.parent .nav span:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #967b6a;
    position: absolute;
    left: 2px;
    top: 2px;
}
.app-rzd .b-rzd__menu li.parent .nav span.active {
    border: #967b6a 1px solid;
}
.app-rzd .b-rzd__items {
    max-width: 1440px;
    text-align: justify;
    margin: -2px auto 0;
}
.app-rzd .b-rzd__items li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 100px 10px 0;
    display: inline-block;
    width: 24%;
    max-width: 320px;
    line-height: 1rem;
    vertical-align: top;
}
.app-rzd .b-rzd__items li:before {
    content: "";
    display: block;
    position: absolute;
    margin-top: -100px;
    left: 0;
    right: 0;
    border-bottom: #f7efe9 1px solid;
}
.app-rzd .b-rzd__items li.big {
    padding: 100px 10px 0;
    width: 49%;
    max-width: 640px;
}
.app-rzd .b-rzd__items li.big div.image {
    max-height: 620px !important;
    max-width: 620px !important;
}
.app-rzd .b-rzd__items li:hover .descr {
    visibility: visible;
}
.app-rzd .b-rzd__items li div.image {
    text-align: center;
    bottom: 100px;
    max-width: 300px;
    max-height: 300px;
}
.app-rzd .b-rzd__items li div.image img {
    display: inline;
    max-width: 100%;
    max-height: 100%;
}
.app-rzd .b-rzd__items li .descr {
    visibility: hidden;
    height: 100px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}
.app-rzd .b-rzd__items li .descr span {
    display: block;
    margin-bottom: 10px;
    color: #967b6a;
}
.app-catalog .b-services__item__wrap {
    padding-top: 50px;
}
.app-catalog .b-catalog__desription {
    padding-top: 50px;
    margin-bottom: 45px;
}
.app-catalog .b-catalog__desription p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 0 90px 15px;
    text-align: center;
}
.app-catalog .b-catalog__item--left {
    display: block;
    text-decoration: none;
    background-color: #262222;
    border-bottom: #fff 1px solid;
    position: relative;
    overflow: hidden;
    height: 360px;
}
.app-catalog .b-catalog__item--left:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 45%;
    bottom: 35px;
    margin-right: 50px;
    border-top: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.app-catalog .b-catalog__item--left .b-catalog__item__image {
    overflow: hidden;
    float: right;
    width: 45%;
    max-height: 100%;
    border-left: #fff 1px solid;
    max-width: 800px;
}
.app-catalog .b-catalog__item--left .b-catalog__item__image img {
    float: none;
    display: block;
    height: 100%;
}
.app-catalog .b-catalog__item--left .descr {
    margin-right: 45%;
    padding: 50px 120px 30px 90px;
    color: #fff;
}
.app-catalog .b-catalog__item--right {
    display: block;
    text-decoration: none;
    background-color: #262222;
    border-bottom: #fff 1px solid;
    position: relative;
    overflow: hidden;
    height: 360px;
}
.app-catalog .b-catalog__item--right:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 35px;
    margin-right: 50px;
    border-top: #967b6a 1px solid;
    border-right: #967b6a 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.app-catalog .b-catalog__item--right .b-catalog__item__image {
    overflow: hidden;
    float: left;
    width: 45%;
    max-height: 100%;
    border-right: #fff 1px solid;
    max-width: 800px;
}
.app-catalog .b-catalog__item--right .b-catalog__item__image img {
    float: none;
    display: block;
    height: 100%;
}
.app-catalog .b-catalog__item--right .descr {
    margin-left: 45%;
    padding: 50px 90px 30px 80px;
    color: #fff;
}
.app-catalog .b-catalog__item--left .title,
.app-catalog .b-catalog__item--right .title {
    font-family: 'helveticaneuecyrthin';
    margin-bottom: 20px;
    font-size: 6rem;
    line-height: 6rem;
    color: #967b6a;
    text-transform: uppercase;
}
.app-catalog .b-catalog__item--left .text,
.app-catalog .b-catalog__item--right .text {
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.app-catalog .b-catalog__filter {
    margin: 0 90px 50px;
}
.app-catalog .b-catalog__filter:after {
    content: "";
    display: block;
    clear: both;
}
.app-catalog .b-catalog__filter__wrap {
    margin-right: 180px;
    position: relative;
}
.app-catalog .b-catalog__filter__select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 25%;
    position: relative;
    float: left;
}
.app-catalog .b-catalog__filter__select:nth-child(4) {
    padding-right: 20px;
}
.app-catalog .b-catalog__filter input[type=text] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    height: 42px;
    width: 100%;
    padding: 0 10px;
    line-height: 24px;
    background-color: #fff;
    border: solid 1px #52443b;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'helveticaneuecyrlight';
    color: #52443b;
    text-transform: uppercase;
}
.app-catalog .b-catalog__filter input[type=text]::-webkit-input-placeholder {
    color: #52443b;
}
.app-catalog .b-catalog__filter input[type=text]:-moz-placeholder {
    color: #52443b;
}
.app-catalog .b-catalog__filter .sbHolder {
    width: auto;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'helveticaneuecyrlight';
}
.app-catalog .b-catalog__filter .btn {
    position: absolute;
    text-decoration: none;
    right: -180px;
    background-color: #fff;
    border: #52443b 2px solid;
    color: #52443b;
    font-family: 'helveticaneuecyrmedium';
    font-size: 1.4rem;
    text-align: center;
    width: 135px;
    text-transform: uppercase;
    height: 44px;
    line-height: 38px;
}
.app-catalog .b-catalog__filter .btn:hover {
    color: #fff;
    background-color: #52443b;
}
.app-collection .b-collection__descr {
    padding: 50px 90px 100px;
    overflow: hidden;
}
.app-collection .b-collection__descr .title {
    font-size: 6rem;
    margin-bottom: 10px;
    color: #967b6a;
    line-height: 6rem;
    text-transform: uppercase;
    font-family: 'helveticaneuecyrthin';
}
.app-collection .b-collection__descr .text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    float: left;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 0 30px 0 0;
}
.app-collection .b-collection__descr .text.right {
    padding: 0 0 0 30px;
}
.app-collection .b-collection__descr .all {
    clear: both;
}
.app-collection .b-collection__descr .all a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #52443b;
    padding: 0 40px;
    position: relative;
    border: #52443b 2px solid;
    font-weight: bold;
}
.app-collection .b-collection__descr .all a:hover {
    background-color: #52443b;
    color: #fff;
}
.app-collection #slideshowWrapper {
    padding: 0 0 15px;
    margin: 0;
}
.app-collection #slideshowWrapper .tst {
    width: 100%;
    height: auto;
    visibility: hidden;
}
.app-collection #slideshowWrapper #fssList {
    display: none;
    right: 90px;
    bottom: 50px;
}
.app-collection #slideshowWrapper #fssList li a:before {
    background-color: #fff;
}
.app-collection #slideshowWrapper #fssList li.fssActive a {
    border-color: #fff;
}
.app-collection #fssNext,
.app-collection #fssPrev {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block !important;
    background-color: #000;
    color: #fff;
    text-indent: 0;
    width: auto;
    height: auto;
    padding: 0 30px;
    line-height: 70px;
    margin-top: -35px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.app-collection #fssNext:hover,
.app-collection #fssPrev:hover {
    background-color: #52443b;
}
.app-collection #fssNext {
    padding-right: 70px;
    right: 0;
}
.app-collection #fssPrev {
    padding-left: 70px;
    left: 0;
}
.app-collection ul#slideshow {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}
.app-collection ul#slideshow li {
    width: 100%;
    height: auto !important;
}
.app-collection ul#slideshow li img {
    width: 100%;
}
.app-collection .pop {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 25px;
    color: #fff;
    position: absolute;
}
.app-collection .pop:before {
    content: "";
    display: block;
    border-left: #fff 2px solid;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -15px;
}
.app-collection .pop:after {
    content: "";
    display: block;
    border-bottom: #fff 2px solid;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -1px;
}

.blueimp-gallery{
    box-shadow: none;
}
.app-collection .blueimp-gallery .prev,
.app-collection .blueimp-gallery .next {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block !important;
    background-color: #000 !important;
    color: #fff;
    text-indent: 0;
    width: auto;
    height: auto;
    padding: 0 30px;
    line-height: 70px;
    margin-top: -35px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}
.app-collection .blueimp-gallery .prev:hover,
.app-collection .blueimp-gallery .next:hover {
    background-color: #52443b;
}
.app-collection .blueimp-gallery .prev {
    padding-left: 70px;
    left: 0;
}
.app-collection .blueimp-gallery .next {
    padding-right: 70px;
    right: 0;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 90px 0;
    font-size: 1.4rem;
    font-family: 'helveticaneuecyrmedium';
}
.copy {
    float: left;
    text-transform: uppercase;
}
.b-menu-foot {
    float: right;
}
.b-menu-foot li {
    display: inline-block;
    margin-left: 30px;
}
.b-menu-foot li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.b-menu-foot li a:hover {
    color: #967b6a;
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .b-gessi__wrap {
        padding: 20px 20px 0 20px;
    }
    .b-gessi__wrap:after {
        width: 20px;
        height: 20px;
        right: 50px;
        bottom: 30px;
    }
    .b-about__wrap {
        padding: 20px 20px 0 20px;
    }
    .b-about__wrap:after {
        width: 20px;
        height: 20px;
        margin-right: 50px;
        bottom: 30px;
    }
    .b-about__reg {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 20px 300px 20px 20px;
        font-size: 1.2rem;
    }
    .b-about__reg__link {
        margin-top: -20px;
    }
    .b-services__item__wrap {
        margin: 0 auto 0;
        padding-left: 0;
    }
}
@media only screen and (max-width: 1024px) {
    .header,
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .b-services {
        overflow: hidden;
    }
    .b-services__item {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: block;
        float: left;
        margin-right: -1%;
        position: relative;
        width: 34%;
        border-left: #fff 1px solid;
        background-color: #262222;
        text-transform: uppercase;
    }
    .b-services__item:first-child {
        margin-left: -1px;
    }
    .b-services__item__wrap {
        width: auto;
        margin: 30px 0 30px;
        padding: 0 50px 0 20px;
    }
    .b-services__item__wrap:after {
        right: 50px;
        margin-right: 0;
    }
    .b-services__item__title {
        margin-bottom: 15px;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .b-services__item__descr {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .b-gessi__wrap {
        padding: 20px 20px 0 20px;
    }
    .b-gessi__wrap:after {
        width: 20px;
        height: 20px;
        right: 50px;
        bottom: 15px;
    }
    .b-gessi__title {
        font-size: 3rem;
        line-height: 1;
    }
    .b-gessi__descr {
        width: auto;
        max-width: 400px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .b-about__wrap {
        padding: 20px 20px 0 20px;
    }
    .b-about__wrap:after {
        width: 20px;
        height: 20px;
        bottom: 15px;
        margin-right: 50px;
    }
    .b-about__title {
        font-size: 3rem;
        line-height: 1;
    }
    .b-about__descr {
        width: auto;
        max-width: 400px;
        font-size: 1rem;
        line-height: 2rem;
    }
    .b-about__reg {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 20px 250px 20px 20px;
        font-size: 1rem;
    }
    .b-about__reg__link {
        margin-top: -19px;
        right: 60px;
    }
}
@media only screen and (min-width: 1280px) {
    .b-producer__image {
        overflow: inherit;
        max-height: none;
    }
    .b-producer__image img {
        width: 100%;
        height: auto;
    }
    .b-catalog__item--left:after,
    .b-catalog__item--right:after {
        margin-right: 100px;
    }
    .b-catalog__item--left .b-catalog__item__image,
    .b-catalog__item--right .b-catalog__item__image {
        overflow: inherit;
        max-height: none;
    }
    .b-catalog__item--left .b-catalog__item__image img,
    .b-catalog__item--right .b-catalog__item__image img {
        width: 100%;
        height: auto;
    }
}
/*--------    попапы   -----------------*/
.note {
    width: 600px;
}
.note .title {
    font-size: 2.4rem;
    color: #967b6a;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.note p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 45px;
    text-transform: uppercase;
}
.note input[type=checkbox] {
    display: none;
}
.note .check {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #52443b;
    text-transform: uppercase;
    position: relative;
    margin-left: 35px;
}
.note .check:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    left: -34px;
    top: 50%;
    margin-top: -12px;
    width: 22px;
    height: 22px;
    outline: #52443b 1px solid;
    border: #fff 5px solid;
}
.note input[type=checkbox]:checked + .check:before {
    background-color: #52443b;
}
.note .category {
    text-align: right;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: #000 1px solid;
    width: 100%;
}
.note .category label {
    font-size: 1.4rem;
    color: #52443b;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    line-height: 40px;
}
.note .category input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 350px;
    line-height: 40px;
    padding: 0 15px;
    border: #52443b 1px solid;
    text-transform: uppercase;
    color: #52443b;
    margin-right: 15px;
    vertical-align: middle;
}
.note .category a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 40px;
    position: relative;
    border: #52443b 2px solid;
}
.note .category a:before {
    content: "";
    display: block;
    width: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    border-bottom: #52443b 2px solid;
}
.note .category a:after {
    content: "";
    display: block;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -11px;
    border-left: #52443b 2px solid;
}
.note .category a:hover {
    background-color: #52443b;
}
.note .category a:hover:before,
.note .category a:hover:after {
    border-color: #fff;
}
.note .add {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 230px;
    float: right;
    color: #52443b;
    position: relative;
    border: #52443b 2px solid;
    font-weight: bold;
}
.note .add:hover {
    background-color: #52443b;
    color: #fff;
}
.quick {
    padding: 50px 30px 10px;
    width: 850px;
}
.quick img {
    float: right;
    max-width: 300px;
    margin-left: 100px;
}
.quick .name {
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quick .article {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #967b6a;
}
.quick .article:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.quick .descr {
    float: left;
    margin-right: 70px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #967b6a;
}
.quick .descr span {
    display: inline-block;
    width: 105px;
    color: #000;
}
.quick .text {
    margin-bottom: 40px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.quick .text:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.quick .price {
    text-transform: uppercase;
    font-size: 1.4rem;
}
.quick .price span {
    font-size: 3rem;
    display: block;
}
.quick .add {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 22px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 300px;
    color: #52443b;
    border: #52443b 2px solid;
    font-weight: bold;
}
.quick .add:hover {
    background-color: #52443b;
    color: #fff;
}
#fancybox-close {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: #52443b 2px solid;
}
#fancybox-close:before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 17px;
    left: -15px;
    border-top: #fff 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#fancybox-close:after {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 17px;
    left: 14px;
    border-left: #fff 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#fancybox-close:hover {
    background-color: #fff;
}
#fancybox-close:hover:before,
#fancybox-close:hover:after {
    border-color: #52443b;
}


/*  Oksana  */

.b-carusel .subgallery{
    display: none;
}

.catalog-gallery li{
    padding-bottom: 10px;
    z-index: 10;
    border-color: #52443b;
    border-style: solid;
    border-width: 0 0 1px 0;

}

.catalog-gallery li a {
    display: block;
    height: 180px;
}


.catalog-gallery li:hover{
    top: 10px;
    margin: 0 0 0 -1px;
    border-bottom: red;
    border-width: 0 1px 0 1px;
    border-color: #52443b;
    border-style: solid;

}


.catalog-gallery{
    top: 10px
}

.b-carusel li:hover .subgallery{
    display: block;
    position: absolute;
    width: 40000px;
    border-width: 0 0 1px 0;
    border-color: #52443b;
    border-style: solid;
    left: 0;
    top: 180px;
    height: 190px;
    overflow: hidden;
    overflow: hidden;
}

.catalog-gallery .subgallery li{
    float: left;
    border: none;
}